body {
  background: #319696;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
